<h1>Listing books</h1>

<% if @books.present? %>
<table class="books_table">
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Price</th>
    <th>Format</th>
    <th>Availability</th>
  </tr>
 
  <% @books.each do |book| %>
    <!-- http://stackoverflow.com/questions/1086360/how-do-i-wrap-link-to-around-some-html-ruby-code -->
    <tr>
      <td><%= link_to book_path(book) do %><%= book.title %><% end %></td>
      <td><%= link_to author_path(book.author) do %><%=book.author.name %><% end %></td>
      <td><%= number_to_currency book.price %></td>
      <td><%= book.format %></td>
      <td><%= book.availability %></td>
    </tr>
  <% end %>
</table>
<% else %>
  <p>There are no books containing the term(s) <%= params[:search] %>.</p>
<% end %>

<%= form_tag(books_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Books" %>
<%= submit_tag "Search" %>
<% end %>